zadaci/WCF_priprema/KvizClient/Connected Services/KvizServiceReference/Kviz.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Kviz" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Kviz" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Pitanje">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PonudjeniOdgovori" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="RedniBrojTacnogOdgovora" type="xs:int" />
      <xs:element minOccurs="0" name="TekstPitanja" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pitanje" nillable="true" type="tns:Pitanje" />
  <xs:complexType name="ArrayOfPitanje">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pitanje" nillable="true" type="tns:Pitanje" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPitanje" nillable="true" type="tns:ArrayOfPitanje" />
</xs:schema>