zadaci/WCF_priprema/KvizClient/Connected Services/KvizServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Kviz" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="DodajPitanje">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Kviz" minOccurs="0" name="pitanje" nillable="true" type="q1:Pitanje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajPitanjeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiPitanja">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiPitanjaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Kviz" minOccurs="0" name="VratiPitanjaResult" nillable="true" type="q2:ArrayOfPitanje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IzmeniPitanje">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="redniBroj" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Kviz" minOccurs="0" name="novoPitanje" nillable="true" type="q3:Pitanje" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IzmeniPitanjeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EvaluirajRezultat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="datiOdgovori" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EvaluirajRezultatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EvaluirajRezultatResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>