zadaci/WCF_priprema/RegistracijaParcelaClient/Connected Services/RegistracijaParcelaServiceReference/RegistracijaParcela.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RegistracijaParcela" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RegistracijaParcela" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="Parcela">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImeVlasnika" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Koordinate" nillable="true" type="q1:ArrayOfTupleOfdecimaldecimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Parcela" nillable="true" type="tns:Parcela" />
  <xs:complexType name="ArrayOfParcela">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Parcela" nillable="true" type="tns:Parcela" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParcela" nillable="true" type="tns:ArrayOfParcela" />
</xs:schema>