zadaci/WCF_priprema/RegistracijaParcelaClient/Connected Services/RegistracijaParcelaServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RegistracijaParcela" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="EchoTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoTestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrujParcelu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RegistracijaParcela" minOccurs="0" name="parcela" nillable="true" type="q1:Parcela" />
        <xs:element minOccurs="0" name="imeVlasnika" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrujParceluResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiParceleSaPovrsinom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imeVlasnika" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiParceleSaPovrsinomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="VratiParceleSaPovrsinomResult" nillable="true" type="q2:ArrayOfTupleOfParceladecimal16GPT_Sgl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVeceParcele">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="povrsinaUArima" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVeceParceleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RegistracijaParcela" minOccurs="0" name="VratiVeceParceleResult" nillable="true" type="q3:ArrayOfParcela" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSveParcele">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiSveParceleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RegistracijaParcela" minOccurs="0" name="VratiSveParceleResult" nillable="true" type="q4:ArrayOfParcela" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>