zadaci/WCF_priprema/RegistracijaParcelaClient/Connected Services/RegistracijaParcelaServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="RegistracijaParcelaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RegistracijaParcela" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistracijaParcelaService_EchoTest_InputMessage">
    <wsdl:part name="parameters" element="tns:EchoTest" />
  </wsdl:message>
  <wsdl:message name="IRegistracijaParcelaService_EchoTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoTestResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracijaParcelaService_RegistrujParcelu_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrujParcelu" />
  </wsdl:message>
  <wsdl:message name="IRegistracijaParcelaService_RegistrujParcelu_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrujParceluResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracijaParcelaService_VratiParceleSaPovrsinom_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiParceleSaPovrsinom" />
  </wsdl:message>
  <wsdl:message name="IRegistracijaParcelaService_VratiParceleSaPovrsinom_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiParceleSaPovrsinomResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracijaParcelaService_VratiVeceParcele_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiVeceParcele" />
  </wsdl:message>
  <wsdl:message name="IRegistracijaParcelaService_VratiVeceParcele_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiVeceParceleResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracijaParcelaService_VratiSveParcele_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiSveParcele" />
  </wsdl:message>
  <wsdl:message name="IRegistracijaParcelaService_VratiSveParcele_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiSveParceleResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistracijaParcelaService">
    <wsdl:operation name="EchoTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracijaParcelaService/EchoTest" message="tns:IRegistracijaParcelaService_EchoTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracijaParcelaService/EchoTestResponse" message="tns:IRegistracijaParcelaService_EchoTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrujParcelu">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracijaParcelaService/RegistrujParcelu" message="tns:IRegistracijaParcelaService_RegistrujParcelu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracijaParcelaService/RegistrujParceluResponse" message="tns:IRegistracijaParcelaService_RegistrujParcelu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiParceleSaPovrsinom">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracijaParcelaService/VratiParceleSaPovrsinom" message="tns:IRegistracijaParcelaService_VratiParceleSaPovrsinom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracijaParcelaService/VratiParceleSaPovrsinomResponse" message="tns:IRegistracijaParcelaService_VratiParceleSaPovrsinom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiVeceParcele">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracijaParcelaService/VratiVeceParcele" message="tns:IRegistracijaParcelaService_VratiVeceParcele_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracijaParcelaService/VratiVeceParceleResponse" message="tns:IRegistracijaParcelaService_VratiVeceParcele_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiSveParcele">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracijaParcelaService/VratiSveParcele" message="tns:IRegistracijaParcelaService_VratiSveParcele_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracijaParcelaService/VratiSveParceleResponse" message="tns:IRegistracijaParcelaService_VratiSveParcele_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegistracijaParcelaService" type="tns:IRegistracijaParcelaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EchoTest">
      <soap:operation soapAction="http://tempuri.org/IRegistracijaParcelaService/EchoTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrujParcelu">
      <soap:operation soapAction="http://tempuri.org/IRegistracijaParcelaService/RegistrujParcelu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiParceleSaPovrsinom">
      <soap:operation soapAction="http://tempuri.org/IRegistracijaParcelaService/VratiParceleSaPovrsinom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiVeceParcele">
      <soap:operation soapAction="http://tempuri.org/IRegistracijaParcelaService/VratiVeceParcele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiSveParcele">
      <soap:operation soapAction="http://tempuri.org/IRegistracijaParcelaService/VratiSveParcele" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistracijaParcelaService">
    <wsdl:port name="BasicHttpBinding_IRegistracijaParcelaService" binding="tns:BasicHttpBinding_IRegistracijaParcelaService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/RegistracijaParcela/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>