zadaci/WCF_priprema/MatricnaIzracunavanjaClient/Connected Services/MatricnaIzracunavanjaServiceReference/MatricnaIzracunavanja.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MatricnaIzracunavanja" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MatricnaIzracunavanja" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Matrica">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrojKolona" type="xs:int" />
      <xs:element minOccurs="0" name="BrojVrsta" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Elementi" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Matrica" nillable="true" type="tns:Matrica" />
  <xs:complexType name="Rezultat">
    <xs:sequence>
      <xs:element minOccurs="0" name="Matrica" nillable="true" type="tns:Matrica" />
      <xs:element minOccurs="0" name="Poruka" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uspeh" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rezultat" nillable="true" type="tns:Rezultat" />
</xs:schema>