zadaci/WCF_priprema/ZakupSkladistaClient/Connected Services/ZakupSkladistaServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ZakupSkladistaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ZakupSkladista" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IZakupSkladistaService_ZakupiSkladiste_InputMessage">
    <wsdl:part name="parameters" element="tns:ZakupiSkladiste" />
  </wsdl:message>
  <wsdl:message name="IZakupSkladistaService_ZakupiSkladiste_OutputMessage">
    <wsdl:part name="parameters" element="tns:ZakupiSkladisteResponse" />
  </wsdl:message>
  <wsdl:message name="IZakupSkladistaService_VratiAktivnaSkladista_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiAktivnaSkladista" />
  </wsdl:message>
  <wsdl:message name="IZakupSkladistaService_VratiAktivnaSkladista_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiAktivnaSkladistaResponse" />
  </wsdl:message>
  <wsdl:message name="IZakupSkladistaService_VratiVlasnikeAktivnihSkladista_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiVlasnikeAktivnihSkladista" />
  </wsdl:message>
  <wsdl:message name="IZakupSkladistaService_VratiVlasnikeAktivnihSkladista_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiVlasnikeAktivnihSkladistaResponse" />
  </wsdl:message>
  <wsdl:message name="IZakupSkladistaService_VratiSkladistaSaIstorijomZakupa_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiSkladistaSaIstorijomZakupa" />
  </wsdl:message>
  <wsdl:message name="IZakupSkladistaService_VratiSkladistaSaIstorijomZakupa_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiSkladistaSaIstorijomZakupaResponse" />
  </wsdl:message>
  <wsdl:portType name="IZakupSkladistaService">
    <wsdl:operation name="ZakupiSkladiste">
      <wsdl:input wsaw:Action="http://tempuri.org/IZakupSkladistaService/ZakupiSkladiste" message="tns:IZakupSkladistaService_ZakupiSkladiste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZakupSkladistaService/ZakupiSkladisteResponse" message="tns:IZakupSkladistaService_ZakupiSkladiste_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiAktivnaSkladista">
      <wsdl:input wsaw:Action="http://tempuri.org/IZakupSkladistaService/VratiAktivnaSkladista" message="tns:IZakupSkladistaService_VratiAktivnaSkladista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZakupSkladistaService/VratiAktivnaSkladistaResponse" message="tns:IZakupSkladistaService_VratiAktivnaSkladista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiVlasnikeAktivnihSkladista">
      <wsdl:input wsaw:Action="http://tempuri.org/IZakupSkladistaService/VratiVlasnikeAktivnihSkladista" message="tns:IZakupSkladistaService_VratiVlasnikeAktivnihSkladista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZakupSkladistaService/VratiVlasnikeAktivnihSkladistaResponse" message="tns:IZakupSkladistaService_VratiVlasnikeAktivnihSkladista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiSkladistaSaIstorijomZakupa">
      <wsdl:input wsaw:Action="http://tempuri.org/IZakupSkladistaService/VratiSkladistaSaIstorijomZakupa" message="tns:IZakupSkladistaService_VratiSkladistaSaIstorijomZakupa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZakupSkladistaService/VratiSkladistaSaIstorijomZakupaResponse" message="tns:IZakupSkladistaService_VratiSkladistaSaIstorijomZakupa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IZakupSkladistaService" type="tns:IZakupSkladistaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZakupiSkladiste">
      <soap:operation soapAction="http://tempuri.org/IZakupSkladistaService/ZakupiSkladiste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiAktivnaSkladista">
      <soap:operation soapAction="http://tempuri.org/IZakupSkladistaService/VratiAktivnaSkladista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiVlasnikeAktivnihSkladista">
      <soap:operation soapAction="http://tempuri.org/IZakupSkladistaService/VratiVlasnikeAktivnihSkladista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiSkladistaSaIstorijomZakupa">
      <soap:operation soapAction="http://tempuri.org/IZakupSkladistaService/VratiSkladistaSaIstorijomZakupa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZakupSkladistaService">
    <wsdl:port name="BasicHttpBinding_IZakupSkladistaService" binding="tns:BasicHttpBinding_IZakupSkladistaService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ZakupSkladista/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>