zadaci/WCF_priprema/ZakupSkladistaClient/Connected Services/ZakupSkladistaServiceReference/ZakupSkladista.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZakupSkladista" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZakupSkladista" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Vlasnik">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Jmbg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prezime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vlasnik" nillable="true" type="tns:Vlasnik" />
  <xs:complexType name="Skladiste">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cena" type="xs:double" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Skladiste" nillable="true" type="tns:Skladiste" />
  <xs:complexType name="Zakup">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdSkladista" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JmbgVlasnika" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KrajZakupa" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PocetakZakupa" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zakup" nillable="true" type="tns:Zakup" />
  <xs:complexType name="ArrayOfSkladiste">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Skladiste" nillable="true" type="tns:Skladiste" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkladiste" nillable="true" type="tns:ArrayOfSkladiste" />
  <xs:complexType name="ArrayOfVlasnik">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vlasnik" nillable="true" type="tns:Vlasnik" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVlasnik" nillable="true" type="tns:ArrayOfVlasnik" />
  <xs:complexType name="ArrayOfZakup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Zakup" nillable="true" type="tns:Zakup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZakup" nillable="true" type="tns:ArrayOfZakup" />
</xs:schema>