zadaci/WCF_priprema/RegistracijaVozilaClient/Connected Services/RegistracijaVozilaServiceReference/Arrays.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RegistracijaVozila" />
  <xs:complexType name="ArrayOfKeyValueOfVoziloArrayOfRegistracijajscLfjyd">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfVoziloArrayOfRegistracijajscLfjyd">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RegistracijaVozila" name="Key" nillable="true" type="q1:Vozilo" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RegistracijaVozila" name="Value" nillable="true" type="q2:ArrayOfRegistracija" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfVoziloArrayOfRegistracijajscLfjyd" nillable="true" type="tns:ArrayOfKeyValueOfVoziloArrayOfRegistracijajscLfjyd" />
</xs:schema>