zadaci/WCF_priprema/RegistracijaVozilaClient/Connected Services/RegistracijaVozilaServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="RegistracijaVozilaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RegistracijaVozila" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistracijaVozilaService_RegistrujVozilo_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrujVozilo" />
  </wsdl:message>
  <wsdl:message name="IRegistracijaVozilaService_RegistrujVozilo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrujVoziloResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracijaVozilaService_VratiVozila_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiVozila" />
  </wsdl:message>
  <wsdl:message name="IRegistracijaVozilaService_VratiVozila_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiVozilaResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracijaVozilaService_VratiIstorijuRegistracija_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiIstorijuRegistracija" />
  </wsdl:message>
  <wsdl:message name="IRegistracijaVozilaService_VratiIstorijuRegistracija_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiIstorijuRegistracijaResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistracijaVozilaService_VratiVozilaSaRegistracijama_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiVozilaSaRegistracijama" />
  </wsdl:message>
  <wsdl:message name="IRegistracijaVozilaService_VratiVozilaSaRegistracijama_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiVozilaSaRegistracijamaResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistracijaVozilaService">
    <wsdl:operation name="RegistrujVozilo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracijaVozilaService/RegistrujVozilo" message="tns:IRegistracijaVozilaService_RegistrujVozilo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracijaVozilaService/RegistrujVoziloResponse" message="tns:IRegistracijaVozilaService_RegistrujVozilo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiVozila">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracijaVozilaService/VratiVozila" message="tns:IRegistracijaVozilaService_VratiVozila_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracijaVozilaService/VratiVozilaResponse" message="tns:IRegistracijaVozilaService_VratiVozila_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiIstorijuRegistracija">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracijaVozilaService/VratiIstorijuRegistracija" message="tns:IRegistracijaVozilaService_VratiIstorijuRegistracija_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracijaVozilaService/VratiIstorijuRegistracijaResponse" message="tns:IRegistracijaVozilaService_VratiIstorijuRegistracija_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiVozilaSaRegistracijama">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistracijaVozilaService/VratiVozilaSaRegistracijama" message="tns:IRegistracijaVozilaService_VratiVozilaSaRegistracijama_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistracijaVozilaService/VratiVozilaSaRegistracijamaResponse" message="tns:IRegistracijaVozilaService_VratiVozilaSaRegistracijama_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegistracijaVozilaService" type="tns:IRegistracijaVozilaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegistrujVozilo">
      <soap:operation soapAction="http://tempuri.org/IRegistracijaVozilaService/RegistrujVozilo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiVozila">
      <soap:operation soapAction="http://tempuri.org/IRegistracijaVozilaService/VratiVozila" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiIstorijuRegistracija">
      <soap:operation soapAction="http://tempuri.org/IRegistracijaVozilaService/VratiIstorijuRegistracija" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiVozilaSaRegistracijama">
      <soap:operation soapAction="http://tempuri.org/IRegistracijaVozilaService/VratiVozilaSaRegistracijama" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistracijaVozilaService">
    <wsdl:port name="BasicHttpBinding_IRegistracijaVozilaService" binding="tns:BasicHttpBinding_IRegistracijaVozilaService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/RegistracijaVozila/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>