zadaci/WCF_priprema/RegistracijaVozilaClient/Connected Services/RegistracijaVozilaServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/RegistracijaVozila" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="RegistrujVozilo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RegistracijaVozila" minOccurs="0" name="vlasnik" nillable="true" type="q1:Vlasnik" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RegistracijaVozila" minOccurs="0" name="vozilo" nillable="true" type="q2:Vozilo" />
        <xs:element minOccurs="0" name="krajRegistracije" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrujVoziloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RegistracijaVozila" minOccurs="0" name="RegistrujVoziloResult" nillable="true" type="q3:Registracija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVozila">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jmbgVlasnika" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVozilaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RegistracijaVozila" minOccurs="0" name="VratiVozilaResult" nillable="true" type="q4:ArrayOfVozilo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiIstorijuRegistracija">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RegistracijaVozila" minOccurs="0" name="vozilo" nillable="true" type="q5:Vozilo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiIstorijuRegistracijaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RegistracijaVozila" minOccurs="0" name="VratiIstorijuRegistracijaResult" nillable="true" type="q6:ArrayOfRegistracija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVozilaSaRegistracijama">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiVozilaSaRegistracijamaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="VratiVozilaSaRegistracijamaResult" nillable="true" type="q7:ArrayOfKeyValueOfVoziloArrayOfRegistracijajscLfjyd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>